<html>
<head>
    <meta charset="UTF-8">
    <title>Project Title</title>
    <!-- <script src="smoothScroll.min.js"></script> -->
    <script src="navi.js"></script>
</head>
<body>
    <header class="site-header">   
    </header>
    <section class="content">
        <h2 id="heading-1" data-navi>Heading #1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum aspernatur nam voluptate et, dignissimos numquam accusantium ea hic officia aut error, veritatis porro ratione odit, corporis reprehenderit voluptates doloremque dolorem.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates adipisci libero expedita consectetur, quisquam pariatur. Porro magnam sint illo ut sequi odio soluta, praesentium, iusto, minus placeat accusamus voluptatem id?</p>
        <p>Eveniet ut porro, enim minima possimus veritatis ipsam dolorum nemo nulla quam, odio necessitatibus adipisci beatae molestiae, eius. Et numquam debitis, fuga nulla quasi expedita delectus sapiente dignissimos at voluptas.</p>
        <p>Explicabo error rerum, iure aspernatur magni, nostrum totam obcaecati, tenetur blanditiis voluptates placeat. Numquam cumque, aliquid autem quas magni exercitationem culpa officia voluptatem dicta quo animi nulla, explicabo aut repellendus?</p>
        <p>Iure, mollitia, nisi. Recusandae laudantium beatae fugiat natus facilis similique esse qui ipsa mollitia atque, quaerat iure pariatur, explicabo vel repudiandae iste eveniet magnam fugit delectus culpa accusamus eos minus.</p>
        <p>Odio autem, vel. Sapiente esse officia, cupiditate! Rem hic possimus voluptate dolore est laudantium, nulla accusantium, labore ut, a similique sit. Quas dignissimos tempora nobis ut mollitia enim esse iure!</p>
        <h2 id="heading-2">Heading #2</h2>
        <p>Ex nobis magni et cumque laboriosam dolorum dignissimos nemo dolor dolores, harum quos, qui optio quas. Quaerat consequuntur, perferendis possimus alias voluptates aperiam placeat beatae accusantium est, illo facere quae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, vel, laudantium. Nulla beatae voluptatum doloribus aspernatur nobis cumque architecto maxime itaque amet sint atque nam odit autem, unde cum. Odio.</p>
        <p>Minima aliquam, soluta similique molestias aperiam neque ea eos! Magni recusandae quod sequi temporibus. Non dignissimos modi vitae dolorum. Ullam quo quis, consequatur eaque fugiat ex repudiandae soluta sunt inventore!</p>
        <p>Dolor officiis, eos, nisi ducimus illo debitis doloribus fugit deserunt ullam necessitatibus placeat cupiditate recusandae praesentium commodi vel consectetur cumque eius dolore corrupti aperiam quis! Maxime id qui praesentium quaerat!</p>
        <p>Iste cumque, quaerat fugit, laborum tempore soluta excepturi, maiores ratione commodi animi explicabo odit velit quod, nesciunt illo aliquam magni voluptatum quis. Laborum, necessitatibus. Error veniam maxime sed ad architecto.</p>
        <p>Cumque sint dolorum veritatis libero praesentium quo doloribus illum, dicta quibusdam consectetur animi sit, commodi assumenda nesciunt esse natus. Doloremque quis iure magni amet molestiae. Maiores nobis dolore tempora ex?</p>
        <h2 id="heading-3" data-navi>Heading #3</h2>
        <p>Dignissimos, vitae placeat fugiat eius sequi culpa iusto, amet officiis odit, atque, quos repellat. Alias quasi deleniti voluptatibus dignissimos officia qui facere eaque nam facilis eum quisquam labore, dolores optio.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus pariatur consequatur doloremque magnam maxime autem quaerat quidem laboriosam illo, quibusdam perspiciatis reiciendis, velit optio voluptatem at. Natus magnam, cupiditate. Cupiditate.</p>
        <p>Repellendus quaerat, quidem eos vel ratione tempore a hic porro, veritatis perspiciatis, voluptatibus animi. Doloremque dolorum labore facere illum voluptatum sit id officia aliquid tempora, impedit libero quas. Reprehenderit, expedita.</p>
        <p>Quam repudiandae illum voluptate? Asperiores ea nulla quibusdam quo nostrum saepe non quas, eius tempore odit perspiciatis omnis aut dolorum aliquam dolores veritatis sequi molestiae rem temporibus deleniti adipisci, magnam!</p>
        <p>Doloribus, est optio, esse, similique iusto ducimus hic enim eligendi quod repellendus explicabo necessitatibus repellat velit! Quaerat provident, assumenda minus expedita. Beatae repellendus, cupiditate eius enim accusantium et neque, vitae!</p>
        <p>Doloremque vel ea quo ab, minima unde inventore odit at eius ducimus molestiae perspiciatis adipisci vero aliquid debitis nisi non sapiente error iure. Ratione tempora fugiat omnis odio nam porro!</p>
        <h2 id="heading-4">Heading #4</h2>
        <p>Sapiente commodi reiciendis saepe ea, modi iure quo odit, impedit sit laborum labore, minus voluptatem eveniet cupiditate dolores? Voluptates quibusdam doloremque odit ipsam corporis molestiae odio minima, possimus mollitia repellat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt molestiae vitae iure ipsum sed inventore ex est eum recusandae quia officia laborum ea unde minima, blanditiis, dolor dolores consequatur aperiam.</p>
        <p>Deserunt dolore, quaerat nulla eaque provident est culpa et! Facere nobis debitis iure tempora, eos, nesciunt similique quo ipsum cumque minima ipsa, eveniet nemo ut illo adipisci cum sit ea.</p>
        <p>Repellat nobis sed hic blanditiis minus expedita architecto ipsum illum! Tempore enim quam quia aspernatur omnis, hic id et nobis blanditiis veniam soluta eaque quisquam sit ex iusto facere libero.</p>
        <p>Natus repellendus quibusdam debitis provident, expedita recusandae, dolores, excepturi beatae reprehenderit perspiciatis ipsam voluptatem accusantium accusamus dignissimos labore neque. Consectetur nobis neque cum, voluptatibus repudiandae veniam voluptate temporibus dolor ullam.</p>
        <p>Odio ipsam inventore molestias expedita amet autem sed, ut ex libero fuga incidunt vero voluptatibus corporis natus commodi tempore. Velit beatae neque quia, explicabo eaque asperiores corporis adipisci facere vero?</p>
        <h2 id="heading-5" data-navi>Heading #5</h2>
        <p>Animi error ut, sequi repudiandae rem? Quaerat ullam, temporibus consequuntur commodi nostrum ea delectus qui aspernatur quis perferendis quam, doloremque odit aut soluta minima, sapiente incidunt natus recusandae sed! Quos!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ipsa modi optio quod impedit veritatis error excepturi accusamus, hic similique natus laborum, dolore iusto facilis vel vero! Est architecto, quisquam.</p>
        <p>Dolores laboriosam porro fugiat alias et, tempore quia, blanditiis esse cumque placeat sit earum commodi. Dolores tempore laborum voluptas nam fugit animi vitae sapiente, cum sequi ea eligendi dicta et!</p>
        <p>At saepe omnis perferendis odio rerum aperiam, nesciunt tempore dolor impedit eum labore beatae, sint maxime maiores. Voluptates, quis ullam sequi asperiores animi rem maxime aperiam similique provident quas itaque.</p>
        <p>Officiis atque sequi, quaerat fugiat error odio dolores, est corrupti fuga iusto alias accusamus tenetur aut nihil molestias cupiditate esse eligendi natus quas rem beatae sapiente debitis. Hic, quaerat ipsum!</p>
        <p>Laboriosam explicabo quisquam rerum reiciendis, aliquid possimus ex doloremque quos vel dolorum in expedita, aut enim nulla beatae! Et pariatur, sapiente possimus nemo magnam animi, dolores numquam natus. Quas, aperiam!</p>

    </section>
    
    <script>
        Navi.init(
            {
                container: ".site-header",
                target: ".content > h2",
                id: "site-nav"
            }
        );
    </script>
</body>
</html>